@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
    --primary-color: #44d382
    ;
    --secondary-color: yellow;
}
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

/* containers */
.container {
    padding : 0 1rem;
}
.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */
.link {
    text-decoration: none;
}
.link-primary {
    background-color: var(--primary-color);
    padding: 0.5rem 0.7rem;
    margin: 0.5rem;
    border-radius: 1.5rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.08rem;
}
.link-secondary {
    background-color: var(--secondary-color);
    padding: 0.5rem 0.7rem;
    margin: 0.5rem;
    border-radius: 1.5rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.08rem;
}
hr {
    margin-top: 2rem;
}

/* lists */
.list  {
    list-style-type: none;
}

/* nav */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    border-bottom-left-radius: 1.8rem;
}
.link {
    color: #fff;
    font-size: 1.08rem;
}
.list-nav {
    text-align: right;
}
.list-nav li {
    display: inline;
    padding: 1rem 0.5rem;
}
/* Header */
.hero {
    padding: 2rem;
}
.hero .hero-img{
    max-width: 300px;
    margin: auto;
    display: block;
}
.hero h1 {
    padding: 1rem 0;
}
.hero-heading {
    color: var(--primary-color);
}
/* sections */
.section {
    padding: 1rem;
}
.section-offwhite {
    background-color: gray;
}

/* footer */
/* footer {
    padding-inline-start: 0px;
}
.list-footer {
    text-align: center;
}
.list-footer-inline {
    display: inline;
    padding: 1rem;
} */
